.git
.github
.next
.pytest_cache
.turbo
.data
node_modules
apps/web/.next
apps/web/test-results
apps/web/playwright-report
apps/api/.pytest_cache
apps/api/.venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.env
npm-debug.log*
yarn-error.log*
